@import '../../utils/utils.scss';

.button {
  padding: $spacing-small $spacing-regular;
  border: none;
  background-color: $color-primary;
  color: $white;
  font-size: $font-size-small;
  &:hover, &:active, &:focus {
    background-color: $grey;
    cursor: pointer;
  }
}