@import '../../utils/utils.scss';

.header {
  padding: $spacing-regular;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px $color-secondary;

  .brandContainer {
    display: flex;
    align-items: center;;
    h3 {
      padding: 0px $spacing-regular;
    }
  }
}