// brand colors
$black: #444444;
$grey: #828080;
$light-grey: #aaaaaa;
$super-light-grey: #fdfdfd;
$off-white: #f2f2f2;

// usage
$color-background: $super-light-grey;
$color-background-footer: $off-white;
$color-primary: $black;
$color-secondary: $grey;
$color-link: $grey;
$color-link-hover: $light-grey;